In [69]:
"""
This script is written to randomly select a subset of Wikipedians to interview
from the top 5000 Wikipedians in edit count.
This list is downloaded and produced on Aug 5th, 2021.
"""
import bs4
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
from datetime import datetime
import random

In [91]:
processed_rows = []
df_header = ["rank", "user_name", 'number of edits']

In [90]:
link = "https://en.wikipedia.org/wiki/Wikipedia:List_of_Wikipedians_by_number_of_edits"
page = requests.get(link)
soup = BeautifulSoup(page.content, 'html.parser')
headers = ["1.E2.80.931000", "1001.E2.80.932000", "2001.E2.80.933000", "3001.E2.80.934000", "4001.E2.80.935000"]
for h in headers:
    span = soup.find(id=h)
    t = span.find_next('table')
    rows = t.find_all('tr')
    for r in rows:
        cells = r.find_all('td')
        if cells:
            processed_rows.append([int(cells[0].text.strip()), cells[1].text.strip(), int(cells[2].text.strip().replace(",", ""))])

In [96]:
second_link = "https://en.wikipedia.org/wiki/Wikipedia:List_of_Wikipedians_by_number_of_edits/5001%E2%80%9310000"
page = requests.get(second_link)
soup = BeautifulSoup(page.content, 'html.parser')
headers = ["5001.E2.80.936000", "6001.E2.80.937000", "7001.E2.80.938000", "8001.E2.80.939000", "9001.E2.80.9310000"]
for h in headers:
    span = soup.find(id=h)
    t = span.find_next('table')
    rows = t.find_all('tr')
    for r in rows:
        cells = r.find_all('td')
        if cells:
            processed_rows.append([int(cells[0].text.strip()), cells[1].text.strip(), int(cells[2].text.strip().replace(",", ""))])

In [98]:
len(processed_rows)

10000

In [101]:
chosen_users = random.sample(processed_rows, k=20)
df = pd.DataFrame(chosen_users, columns=df_header)
df.to_csv('/Users/Lara/Documents/Stanford/Research/Network/processed_data/users_to_interview.csv')

In [102]:
df

    rank         user_name  number of edits
0   7039          Huligan0            14335
1   8606          Palmiped            11508
2   5438       Gianluigi02            18808
3   8719       Markbassett            11347
4   9294    Jeromeenriquez            10587
5   2714            Hhkohh            35368
6   5530     Dangerous-Boy            18524
7    787            Wetman            91930
8   7494         Wiki13565            13372
9   2362            Reenem            40170
10   413        Wtmitchell           136523
11   796          Mahagaja            91279
12  7819        Joaquin008            12780
13  6481     Mister sparky            15630
14  5519        Rontrigger            18558
15  4809      Jaywubba1887            21249
16  5465     Facu-el Millo            18715
17  4801       HelenOnline            21286
18  3058  Liberal Humanist            31935
19  9035         Tetracube            10942